.icon-small{
    width:7%;
}
.forecast-line{
    width:37vw;
    height:3vw;
    display:flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    background-color: #4A8DB7;
    border-radius: 2vw;
    border: 1px solid rgb(137, 211, 233);
    animation: weather .75s;
    color:#A1E1FA;
}
.forecast-line h3{
    width:5vw;
}

.forecast-line p{
  width:4vw;
}

@media screen and(max-width:1500px) {
  .icon-small{
    width:7%;
  }
  .forecast-line{
      width:37vw;
      height:3vw;
      display:flex;
      flex-flow: row;
      justify-content: space-around;
      align-items: center;
      background-color: #4A8DB7;
      border-radius: 2vw;
      border: 1px solid rgb(137, 211, 233);
      animation: weather .75s;
      color:#A1E1FA;
  }
  .forecast-line h3{
      width:5vw;
  }

  .forecast-line p{
    width:4vw;
  }
}

