.weatherContainer{
  margin-top: 3vw;
  display:flex;
  justify-content: space-around;
  height: 35vw;
  width:80vw;
}
.weatherFlex{
  display:flex;
  justify-content: center;
}
.weather-icon{
  border-radius: 50px;
  width:10vw;
  height: 10vw;
}
p{
  font-size: 1rem;
  margin:0;
  border:0;
  text-align: left;
}
.container-row{
  display: flex;
  justify-content: center;
  flex-flow: row;
}
.App{
  text-align: center;
}
.App-header{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.weatherHeader{
  border-radius: 4vw;
  width: 18vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}
html{
  background-color: #42b6e4;
  background: linear-gradient(#3B7197,#A1E1FA) no-repeat;
}
.searchBar{
  width:40vw;
}

.search-button{
  border: 2px solid rgb(137, 211, 233);
  background-color: #4A8DB7;
  color: white;
  border-radius: 1vw;
}

.search-button:hover{
  background-color: #A1E1FA;
  box-shadow: 2px 2px #3B7197;
}

@keyframes weather{
  0%{
    transform: translateX(200px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity:1;
  }
}


@media screen and (max-width:1500px){
  .weatherContainer{
    margin-top: 3vw;
    display:flex;
    justify-content: space-around;
    height: 35vw;
    width:100vw;
  }
  p{
    font-size: .75rem;
    margin:0;
    border:0;
    text-align: left;
  }
  .weatherHeader{
    border-radius: 4vw;
    width: 25vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
  } 
  .search-button:hover{
    background-color: #A1E1FA;
    box-shadow: 2px 2px #3B7197;
  }
  
  @keyframes weather{
    0%{
      transform: translateX(200px);
      opacity: 0;
    }
    100%{
      transform: translateX(0);
      opacity:1;
    }
  }
}
